*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 25px;
    width: 350px;
}
.progress-container::before{
    content: '';
    background-color: #dbdddf;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    height: 4px;
    width: 100%;
    transition: 0.4s ease;
}
.progress{
    background-color: #3498db;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    height: 4px;
    width: 0%;
    transition: 0.4s ease;
}
.circle{
    background-color: white;
    color: rgb(59, 57, 57);
    border-radius: 50%;
    height: 30px;width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #dbdddf;
    transition: .4s ease;
}
.circle.active{
    border-color: #3498db;
}
.btn{
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 5px;
    font-size: 14px;
}
.btn:hover{
    transform: scale(1.1);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: rgb(155, 149, 149);
}