*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: #4285f4;
}

/* ****************
RECHERCHE AVANCEE 
*******************/

.s-container{
    width: 19%;

    margin: 150px auto 0;
}
.s-content{
    display: flex;
    align-items: center;
}
.s-content .searchs{
    z-index: 100;
    color: white;
    padding-top: 3px;padding-left: 3px;
    width: 25px;height: 25px;
    font-size: 17px;
    clip-path: circle();
    background-color: rgb(44, 43, 43);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.s-container.active .lst-content{
    display: block;
    transition: 0.5s;
}
.form-search{
    width: 40px;height: 40px;
    border: 5px solid #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    transition: 1.5s;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}

.form-search.active{
    width: 100%;
}

.form-search.active .search-btn{
    transition: 1.5s;
    left: 94%;
}

.search-input{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    /* display: none; */
    outline: none;
    border: none;
    position: absolute;
    left:50%;top: 50%;
    transform: translate(-50%,-50%);
}

.form-search:hover .search-input{
    display: block;
}

.search-btn{
cursor: pointer;
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%,-50%);
border: none;
outline: none;
color: white;
width: 25px;height: 25px;
font-size: 20px;
clip-path: circle();
background-color: rgb(44, 43, 43);
text-align: center;
}

.s-content i{
    font-size: 15px;
    margin-left: 1px;
    align-items: center;
}
.lst-content{
    width: 90%;
    margin-top: 12px;
    border-radius: 5px;
    padding: 17px;
    background: white;
    display: none;
}
.lst-content .s-options{
    margin-top: 10px;
    padding-left: 3px;
    max-height: 110px;
    overflow-y: auto;
    padding-right: 5px;
}
.s-options::-webkit-scrollbar{
    width: 7px;
}
.s-options::-webkit-scrollbar-track{
    background: #c4c2c2;
    border-radius: 20px;
}
.s-options li{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
.s-options li:hover{
    background: #f2f2f2;
}
.s-close{
    z-index:10000 ;
    float:right;
    margin-left: 15px;
    color: red;
    cursor: pointer;
    display: none;
}