*{
    box-sizing: border-box;
}
.year{
 font-size: 200px;
 z-index: 1;
 opacity: 0.3;
 position: absolute;
 bottom: 20px;
 left: 50%;
 transform: translate(-50%);
 font-family: 'Roboto';
 height: 200px;
}
body{
    background: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: aliceblue;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
body *{
    z-index: 2;
}
h1{
    font-size: 65px;
    margin: -70px 0 100px;
    font-family: 'Roboto';
}
.title{
    font-size: 50px;
    height: 90px;
    opacity: 0.9;
    font-family: 'Roboto';
}
.Countdown{
    display: flex;
    transform: scale(2);
    height: 270px;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    height: 90px;
}
small{
    opacity: 0.8;
}
.bubbles img{
    width: 55px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 4s;
}
.bubbles img:nth-child(4){
    animation-delay: 3s;
}
.bubbles img:nth-child(5){
    animation-delay: 5s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 3s;
}
.bubbles img:nth-child(8){
    animation-delay: 7s;
}
