*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: #4285f4;
}
.wrapper{
    width: 17%;
    margin: 150px auto 0;
}
.select_btn{
    height: 55px;
    font-size: 18px;
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 5px;
    background: white;
    align-items: center;
    justify-content: space-between;
}
.select_btn i{
    font-size: 23px;
}
.content{
    margin-top: 15px;
    border-radius: 5px;
    padding: 17px;
    background: white;
    display: none;
}
.wrapper.active .content{
    display: block;
    transition: 0.5s;
}
.wrapper.active .select_btn i{
    transition: 0.5s;
   transform: rotate(-180deg);
}
.search i{
position: absolute;
left: 15px;
color: #999;
font-size: 21px;
line-height: 40px;
}

.content .search{
    position: relative;
}
.search input{
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}

.content .options{
    margin-top: 10px;
    padding-left: 3px;
    max-height: 110px;
    overflow-y: auto;
    padding-right: 5px;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #c4c2c2;
    border-radius: 20px;
}
.options li{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
.options li:hover{
    background: #f2f2f2;
}
